@charset "UTF-8";
#loading {
  background-color: #3a61ab;
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10000;
}
#loading img {
  width: 20%;
  opacity: 0;
  animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0; /* opacità all' inizio*/
    transform: rotate(0deg);
  }
  50% {
    opacity: 1; /* opacità a metà animazione*/
  }
  100% {
    transform: rotate(360deg);
    opacity: 0; /* opacità alla fine*/
  }
}
.row {
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#logo {
  width: 9%;
}
#logo:hover {
  opacity: 0.7;
}

#toggle {
  transform: scale 1.5;
  z-index: 1;
  top: 0;
}

#menu {
  background-color: #f6f6f6;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  transition: all 0.5s;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
#menu ul li {
  list-style-type: none;
}
#menu ul li a {
  text-decoration: none;
  color: #3a61ab;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
}
#menu ul li a:hover {
  text-decoration: underline 10px;
  color: rgb(253, 223, 0);
  font-weight: 900;
}

#menu.active {
  right: 0;
}

@media (max-width: 960px) {
  #toggle {
    transform: scale(0.7);
  }
}
@media (max-width: 760px) {
  #toggle {
    transform: scale(0.6);
  }
  #menu ul li a {
    font-size: 3em;
  }
}
#intro {
  background-image: url("../img/sfondo3.png");
  background-color: #f6f6f6;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
#intro h1 {
  font-weight: 700;
  color: #3a61ab;
}
#intro h2 {
  color: #3a61ab;
}

#about {
  background-color: #3a61ab;
  background-image: url("../img/cerchi.png");
  background-repeat: no-repeat;
  background-position: right;
}
#about h3 {
  font-weight: 700;
  color: #f6f6f6;
}
#about img {
  width: 80%;
}
#about p {
  color: #f6f6f6;
  font-size: 1em;
}

.add-text {
  display: none; /*nascondi testo*/
  opacity: 0;
  transition: opacity 0.5s ease;
  margin: 0 1em 1em 1em;
}

.show-add-text {
  display: block; /*mostra il testo aggiuntivo quando la classe .show-add-text è presente*/
  opacity: 1;
}

#read-more-btn {
  font-size: 1.2em;
}
#read-more-btn:hover {
  color: #3a61ab;
}

#titpro h3 {
  font-weight: 700;
  color: #3a61ab;
}

.card:hover {
  border: 5px rgb(253, 223, 0) solid;
  color: rgb(253, 223, 0);
  cursor: pointer;
}

.card-body {
  color: #3a61ab;
}
.card-body h5 {
  font-weight: 700;
}

.scrolling {
  display: inline-block;
  white-space: nowrap;
  display: inline-block;
  animation: scrolling 10s linear infinite;
  background-color: rgb(253, 223, 0);
  color: #3a61ab;
  padding: 0 5em 0 5em;
}

.message {
  font-size: 5em;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
}

@keyframes scrolling {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@media (max-width: 760px) {
  .message {
    font-size: 4em;
  }
}
#talk {
  background-color: #3a61ab;
}
#talk h2 {
  color: #f6f6f6;
  font-weight: 700;
}

#contact {
  background-color: #3a61ab;
  color: #f6f6f6;
  background-image: url("../img/cerchi.png");
  background-size: cover;
}

#btn-sign:hover {
  color: #3a61ab;
}

i {
  scale: 1.3;
}

/*# sourceMappingURL=style.css.map */
