$black: #151515;
$p-font: 'Montserrat', sans-serif;
$s-color: rgb(253, 223, 0);
$white: #f6f6f6;
$blue: #3a61ab;

.row{
    background-color: $white;
    font-family: $p-font;
    overflow: hidden;
}

#logo{
    width: 13%;
}

#toggle{
    transform: scale (1.5);
    z-index: 1;
    position: absolute;
    float:right;
    align-items: center;
    margin-left: 45%;
}

#menu{
    background-color: $white;
    width: 100vw;
    height: 100vh;
    right: -100vw;
    transition: all .3s;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $blue;
                font-family: $p-font;
                font-size: 4em;
                &:hover {
                    text-decoration: underline 10px;
                    color: $s-color;
                    font-weight: 900;
                }
            }
        }
    }
}

#menu.active {
    right: 0;
}

@media (max-width: 960px) {
    #toggle{
        transform: scale(0.7);
    }
}

@media (max-width: 720px) {
    #toggle{
        transform: scale(0.5);
    }
}

#intro {
    background-image: url('sfondo3.png');
    background-color: $white;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    h1{
        font-weight:700;
        color: $blue;
    }
    h2{
        color: $blue;
    }
}

#about{
    background-color: $blue;
    background-image: url('cerchi.png');
    background-repeat: no-repeat;
    background-position: right;
    h3{
        font-weight: 700;
        color: $white;
        margin-left:20px;
    }
    img{
        width: 80%;
    }
    p{
        color: $white;
        margin-left:20px;
    }
}

#titpro h3{
    font-weight: 700;
    color: $blue;
    margin-left:20px;
    margin-bottom: 50px;
}

.card:hover{border: 5px $s-color solid; color: $s-color; cursor:pointer;}

.card-body {
    color: $blue;
    h5{
        font-weight: 700;
    }
}

.scrolling {
    display: inline-block;
    white-space: nowrap;
    display: inline-block;
    animation: scrolling 8s linear infinite;
    background-color: $s-color;
    color: $blue;
}
  
.message{
    font-size: 5em;
    font-weight: bold; 
    white-space: nowrap;
    display: inline-block;
}
  
@keyframes scrolling {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(-50%, 0, 0);
  }
}

#talk {
    background-color: $blue;
    h2 {
    color: $white;
    font-weight: 700;
    }
}

#contact{
    background-color: $blue;
    color: $white;
    background-image: url('cerchi.png');
    background-size: cover;
}