$p-font: 'Montserrat', sans-serif;
$s-color: rgb(253, 223, 0);
$white: #f6f6f6;
$blue: #3a61ab;

#loading{
    background-color: $blue;
    height:100vh;
    width:100%;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10000;
    img{
        width:20%;
        opacity: 0;
        animation: fade 2s ease-in-out infinite;
    }
}

@keyframes fade{
    0%{
        opacity: 0; /* opacità all' inizio*/
        transform: rotate(0deg);
      }
      50% {
        opacity: 1; /* opacità a metà animazione*/
      }
      100%{
        transform: rotate(360deg);
        opacity: 0; /* opacità alla fine*/
      }
}

.row{
    background-color: $white;
    font-family: $p-font;
    overflow: hidden;
}

#logo{
    width: 9%;
    &:hover{
        opacity: 0.7;
    }
}

#toggle{
    transform: scale (1.5);
    z-index: 1;
    top: 0;
}

#menu{
    background-color: $white;
    width: 100vw;
    height: 100vh;
    right: -100vw;
    transition: all .5s;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: $blue;
                font-family: $p-font;
                font-size: 4em;
                &:hover {
                    text-decoration: underline 10px;
                    color: $s-color;
                    font-weight: 900;
                }
            }
        }
    }
}

#menu.active {
    right: 0;
}

@media (max-width: 960px) {
    #toggle{
        transform: scale(0.7);
    }
}

@media (max-width: 760px) {
    #toggle{
        transform: scale(0.6);
    }
    #menu ul li a{
        font-size: 3em;
    }
}

#intro {
    background-image: url('../img/sfondo3.png');
    background-color: $white;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    h1{
        font-weight:700;
        color: $blue;
    }
    h2{
        color: $blue;
    }
}

#about{
    background-color: $blue;
    background-image: url('../img/cerchi.png');
    background-repeat: no-repeat;
    background-position: right;
    h3{
        font-weight: 700;
        color: $white;
    }
    img{
        width: 80%;
    }
    p{
        color: $white;
        font-size: 1em;
    }
}

.add-text{
    display: none; /*nascondi testo*/
    opacity: 0;
    transition: opacity 0.5s ease;
    margin: 0 1em 1em 1em;
}

.show-add-text{
    display: block; /*mostra il testo aggiuntivo quando la classe .show-add-text è presente*/
    opacity: 1;
}

#read-more-btn{
    font-size: 1.2em;
    &:hover{
        color: $blue;
    }
}

#titpro h3{
    font-weight: 700;
    color: $blue;
}

.card:hover{border: 5px $s-color solid; color: $s-color; cursor:pointer;}

.card-body {
    color: $blue;
    h5{
        font-weight: 700;
    }
}

.scrolling {
    display: inline-block;
    white-space: nowrap;
    display: inline-block;
    animation: scrolling 10s linear infinite;
    background-color: $s-color;
    color: $blue;
    padding: 0 5em 0 5em;
}
  
.message{
    font-size: 5em;
    font-weight: bold; 
    white-space: nowrap;
    display: inline-block;
}
  
@keyframes scrolling {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width:760px){
    .message{
        font-size: 4em;
    }
}

#talk {
    background-color: $blue;
    h2 {
    color: $white;
    font-weight: 700;
    }
}

#contact{
    background-color: $blue;
    color: $white;
    background-image: url('../img/cerchi.png');
    background-size: cover;
}

#btn-sign:hover{
    color: $blue;
}

i{
   scale: 1.3;
}